.vs/
*.vcxproj.user
packages/
x64/
x86/
*.nupkg
placeholder*
out/
nuget/copperspice/build/native/copperspice/debug
nuget/copperspice/build/native/copperspice/release
nuget/copperspice/build/native/copperspice/include

